*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(131, 128, 128);
    overflow: auto;
}

.topmenu li{
    float: left;
    /* margin-right: 30px; */
}

.topmenu li a{
    display: inline-block ;
    color: white;
    padding:  15px 15px;
    text-align: center;
    text-decoration: none;
}
#home{
    background-color: teal;
}

.topmenu li a:hover{
    background-color: crimson;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.sidemenu li a{
    display: block;
    padding: 10px;
    margin-bottom: 4px;
    text-decoration: none;
    background-color: #eee;
    color: #555;
    
}

.sidemenu li a:hover{
    background-color: #555;
    color: white;
     
}

.sidemenu{
    width: 25%;
    
}

.sidemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.content{
    width: 75%;

}

.column{
    float: left;
    padding: 15px;
}

.header{
    background-color: rgb(23,144,249);
    padding: 15px;
    text-align: center;
    color: white;
}
.footer{
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;

}